body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* pre loader css start */

.loader-wrap {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: transparent;
  z-index: 99999999999999;
  pointer-events: none;
}

.loader-wrap svg {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 110vh;
  fill: #f5f7f9;
}

.loader-wrap .loader-wrap-heading .load-text {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0px;
  text-transform: uppercase;
  z-index: 20; 
}

.load-text span {
  -webkit-animation: loading 1s infinite alternate;
  animation: loading 1s infinite alternate;
}

.load-text span:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.load-text span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.load-text span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.load-text span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.load-text span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.load-text span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.load-text span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

@-webkit-keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* pre loader css end */

.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 35px;
  padding-right: 35px;
  width: 100%;
  z-index: 3;
  background-color: #ffffff;
}

.mainNavBG {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #2f2f2f;
  z-index: 2;
  padding: 0;
  margin: 0;
  transition: all 0.5s ease-in-out;
  display: none;
}

.mainNavBG.active {
  height: 70px;
  display: none;
}

.navLogo {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #ffffff;
  padding: 15px 25px;
}

.navLogo img {
  width: auto;
  height: 30px;
}

/*
.navLogoText {
  margin-left: 40px;
}
*/

.navLogoText p {
  color: #8f8f8f;
}

.navLogoText p:nth-child(1) {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  line-height: 1;
}

.navLogoText p:nth-child(2) {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  line-height: 1;
}

.navLine {
  position: absolute;
  left: calc(50% - 7px);
  top: 15px;
  height: calc(100% - 30px);
  width: 0;
  padding: 0;
  margin: 0;
  border-left: 1px solid #8f8f8f;
}

.searhAndNavButton {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 0 0 0 20px;
}

.navButton {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 20px 25px 20px 20px;
  background-color: #ffffff;
}

.lineOne,
.lineTwo,
.lineThree {
  display: inline-block;
  background-color: #000000;
  height: 3px;
  margin: 0;
  border-radius: 10px;
  transition: all 0.5s;
}

.lineOne {
  width: 35px;
  margin-bottom: 7px;
  margin-top: 3.5px;
}

.lineTwo {
  width: 25px;
  margin-bottom: 7px;
}

.lineThree {
  width: 25px;
  transition-delay: 0.15s;
  margin-bottom: 3.5px;
}

.navButton:hover .lineTwo {
  width: 35px;
}

.navButton:hover .lineThree {
  width: 35px;
}

.fixedNavContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2f2f2f;
  z-index: 10;
  transition: all 0.75s;
  transform: translateX(100%);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 60px;
}

.fixedNavContainer.active {
  visibility: visible;
  transform: translateX(0);
}

.logoAndClose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.6s;
}

.fixedNavContainer.active .logoAndClose {
  opacity: 1;
}

.closeIcon {
  font-size: 30px;
  cursor: pointer;
  color: #d5d5d5;
  transition: all 0.5s ease-in-out;
}

.closeIcon:hover {
  color: #ffffff;
}

.NavMasLogo {
  width: auto;
  height: 40px;
}

.NavItemMainContainer {
  padding: 0 60px;
  margin-top: 30px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.navItem {
  width: calc(25% - 30px);
  height: 100%;
  margin: 0;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.5s;
}

.fixedNavContainer.active .navItem {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.navImageContainer {
  position: relative;
  width: 100%;
  height: 46%;
}

.navImage {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.navImage img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.navItem:hover .navImage img {
  transform: scale(1.1);
}

.navArrowContainer {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-30%, 50%);
  transition: all 0.5s;
}

.navItem:hover .navArrowContainer {
  transform: translate(-30%, 50%) rotateZ(90deg);
}

.navArrowContainer img {
  width: 30px;
  height: auto;
}

.navSectionText {
  color: #717171;
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 20px;
}

.navTextContainer {
  background-color: transparent;
  padding: 30px;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
}

.navTextMobileWrapper {
  height: 54%;
}

.navTextContainer.active {
  background-color: #fff;
}

.navTextContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: all 0.5s;
  visibility: hidden;
}

.navTextContainer.active.navTextContainer ul {
  visibility: visible;
  opacity: 1;
}

.navTextContainer ul li {
  line-height: 1.2;
  margin-bottom: 10px;
  transition: all 0.4s;
  position: relative;
  padding-left: 25px;
}

.navTextContainer li::before {
  content: url("../images/arrow-right-grey.svg");
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
}

.navTextContainer a {
  color: #717171;
  text-decoration: none;
  font-size: 17px;
  transition: all 0.4s;
}

.navTextContainer ul li:hover a,
.navTextContainer ul li.current-link a {
  color: #ed1d24;
}

.navImageMobile {
  display: none;
}

/* New Navigation */

.fixed_grid_nav_container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-image: linear-gradient(to top, #f9f2df, #ffffff);
}

.fixed_grid_relative_container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 100px;
}

.grid_nav_inside_logo {
  position: absolute;
  left: 30px;
  top: 30px;
  height: 50px;
  width: auto;
}

.grid_nav_close {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.nav_grid {
  display: flex;
  row-gap: 10px;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.nav_grid a {
  text-decoration: none;
}

.nav_row {
  height: 25%;
  width: 100%;
  display: flex;
  column-gap: 10px;
  justify-content: flex-start;
}

.fillers {
  width: 12.5%;
  height: 100%;
}

.nav_item {
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
}

.nav_item > div:first-child {
  width: 50%;
  height: 100%;
}

.nav_item > div:first-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav_item > a {
  display: block;
  width: 50%;
  height: 100%;
  position: relative;
}

.nav_item > a > div:first-child {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;
}

.nav_item_one > a > div:first-child {
  background-color: #00AEEF;
}

.nav_dropdown_icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 25px;
  height: 25px;
  transition: all 0.25s ease-in-out;
  transform-origin: center center;
}

.nav_item > a h1 {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.nav_item > a > div:nth-child(2) {
  position: absolute;
  left: -14px;
  bottom: 15px;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.nav_item_one > a > div:nth-child(2) {
  border-right: 15px solid #00AEEF;
}

.nav_item_two > a > div:first-child {
  background-color: #1B578F;
}

.nav_item_two > a > div:nth-child(2) {
  border-right: 15px solid #1B578F;
}

.nav_item_three > a > div:first-child {
  background-color: #073251;
}

.nav_item_three > a > div:nth-child(2) {
  border-right: 15px solid #073251;
}

.nav_dropdown {
  position: absolute;
  left: 0;
  bottom: 1px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  transform: translateY(110%);
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.nav_dropdown_one {
  background-color: #073251;
}

.nav_item:hover .nav_dropdown {
  visibility: visible;
  transform: translateY(100%);
  opacity: 1;
  z-index: 1;
}

.nav_item:hover .nav_dropdown_icon {
  transform: rotateZ(180deg);
}

.nav_dropdown a {
  display: block;
  line-height: 1.2;
  margin: 0;
  font-size: 15px;
  color: #fff;
  padding: 5px 0;
}

.nav_item_four > a > div:first-child {
  background-color: #044651;
}

.nav_item_four > a > div:nth-child(2) {
  border-right: 15px solid #044651;
}

.nav_item_five {
  width: 12.5%;
  height: 100%;
  background-color: #221F1F;
  padding: 10px;
  display: flex;
}

.nav_item_five a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.nav_item_six > a > div:first-child {
  background-color: #818181;
}

.nav_item_six > a > div:nth-child(2) {
  border-right: 15px solid #818181;
}

/* New Navigation */

.NavSearchIcon i {
  font-size: 24px;
  color: #000000;
  cursor: pointer;
}

.searchWrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.searchWrapper.active {
  visibility: visible;
  z-index: 11;
  opacity: 1;
}

.searchWrapper form {
  border-bottom: 2px solid #fff;
  width: 60%;
}

.searchWrapper input {
  width: calc(100% - 52px);
  background-color: transparent;
  border: none;
  font-size: 17px;
  outline: none;
  color: #fff;
  padding: 15px;
}

.searchWrapper button {
  background-color: transparent;
  padding: 15px;
  border: none;
}

.searchWrapper button i {
  color: #fff;
  font-size: 17px;
}

#closeIconSearch {
  position: absolute;
  top: 25%;
  right: 20%;
  color: #fff;
  font-size: 30px;
  transform: translateY(-50%);
  cursor: pointer;
}

.page-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}

.page-actions a img {
  width: 25px;
  height: auto;
}

.my-report-trigger {
  position: relative;
}

.my-report-trigger span {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 17px;
  height: 17px;
  background-color: #ed1d25;
  font-size: 9px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 500;
}

@media (max-width: 1399px) {
  .navImageContainer {
    height: auto;
  }

  .navImage {
    height: auto;
  }

  .navImage img {
    height: auto;
  }

  .navTextContainer {
    padding: 25px 15px;
    height: 100%;
  }

  .navSectionText {
    font-size: 30px;
  }

  .navArrowContainer {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 1199px) {
  .fixedNavContainer {
    justify-content: flex-start;
    padding-bottom: 0;
    overflow-y: auto;
    width: 40vw;
  }

  .NavItemMainContainer {
    padding: 40px;
    margin-top: 0;
    justify-content: flex-start;
    flex-direction: column;
  }

  .navItem {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .navSectionText {
    display: none;
  }

  .navImageContainer {
    display: none;
  }

  .navImageMobile {
    background-position: top center;
    background-size: cover;
    padding: 35px 20px;
    display: block;
  }

  .navImageMobileOne {
    background: linear-gradient(rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)),
      url("../images/sample.webp");
  }

  .navImageMobileTwo {
    background: linear-gradient(rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)),
      url("../images/sample.webp");
  }

  .navImageMobileThree {
    background: linear-gradient(rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)),
      url("../images/sample.webp");
  }

  .navImageMobileFour {
    background: linear-gradient(rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)),
      url("../images/sample.webp");
  }

  .navImageMobile h1 {
    font-size: 30px;
    color: #fff;
    margin: 0;
  }

  .navTextContainer {
    padding: 20px 15px;
    height: auto;
    background-color: #fff;
  }

  .navTextMobileWrapper {
    padding: 0;
    margin: 0;
    display: none;
  }

  .navTextContainer ul {
    visibility: visible;
    opacity: 1;
  }

  .navLogoText {
    display: none;
  }

  .navLine {
    display: none;
  }

  .NavMasLogo {
    display: none;
  }

  .logoAndClose {
    justify-content: flex-end;
  }
}

@media (max-width: 991px) {
  .fixedNavContainer {
    justify-content: flex-start;
    padding-bottom: 0;
    overflow-y: auto;
    width: 50vw;
  }

  .NavItemMainContainer {
    padding: 40px;
    margin-top: 0;
    justify-content: flex-start;
    flex-direction: column;
  }

  .navItem {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .navSectionText {
    display: none;
  }

  .navImageContainer {
    display: none;
  }

  .navImageMobile {
    background-position: top center;
    background-size: cover;
    padding: 35px 20px;
    display: block;
  }

  .navImageMobileOne {
    background: linear-gradient(rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)),
      url("../images/sample.webp");
  }

  .navImageMobileTwo {
    background: linear-gradient(rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)),
      url("../images/sample.webp");
  }

  .navImageMobileThree {
    background: linear-gradient(rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)),
      url("../images/sample.webp");
  }

  .navImageMobileFour {
    background: linear-gradient(rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)),
      url("../images/sample.webp");
  }

  .navImageMobile h1 {
    font-size: 30px;
    color: #fff;
    margin: 0;
  }

  .navTextContainer {
    padding: 20px 15px;
    height: auto;
    background-color: #fff;
  }

  .navTextMobileWrapper {
    padding: 0;
    margin: 0;
    display: none;
  }

  .navTextContainer ul {
    visibility: visible;
    opacity: 1;
  }

  .navLogoText {
    display: none;
  }

  .navLine {
    display: none;
  }

  .NavMasLogo {
    display: none;
  }

  .logoAndClose {
    justify-content: flex-end;
  }

  .navLogo img {
    height: 35px;
  }

  .navButton {
    padding: 17.5px 25px 17.5px 20px;
  }

  .mainNavBG.active {
    height: 65px;
  }
}

@media (max-width: 767px) {
  .fixedNavContainer {
    justify-content: flex-start;
    padding-bottom: 0;
    overflow-y: auto;
    width: 100vw;
  }

  .NavItemMainContainer {
    padding: 40px;
    margin-top: 0;
    justify-content: flex-start;
    flex-direction: column;
  }

  .navItem {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .navSectionText {
    display: none;
  }

  .navImageContainer {
    display: none;
  }

  .navImageMobile {
    background-position: top center;
    background-size: cover;
    padding: 35px 20px;
    display: block;
  }

  .navImageMobileOne {
    background: linear-gradient(rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)),
      url("../images/sample.webp");
  }

  .navImageMobileTwo {
    background: linear-gradient(rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)),
      url("../images/sample.webp");
  }

  .navImageMobileThree {
    background: linear-gradient(rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)),
      url("../images/sample.webp");
  }

  .navImageMobileFour {
    background: linear-gradient(rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)),
      url("../images/sample.webp");
  }

  .navImageMobile h1 {
    font-size: 30px;
    color: #fff;
    margin: 0;
  }

  .navTextContainer {
    padding: 20px 15px;
    height: auto;
    background-color: #fff;
  }

  .navTextMobileWrapper {
    padding: 0;
    margin: 0;
    display: none;
  }

  .navTextContainer ul {
    opacity: 1;
    visibility: visible;
  }

  .navLogoText {
    display: none;
  }

  .navLine {
    display: none;
  }

  .NavMasLogo {
    display: block;
  }

  .logoAndClose {
    justify-content: space-between;
  }

  .navLogo {
    padding: 10px 15px;
  }

  .navLogo img {
    height: 30px;
  }

  .searhAndNavButton {
    padding: 0 0 0 15px;
  }

  .NavSearchIcon i {
    font-size: 20px;
  }

  .navButton {
    padding: 10px 15px;
  }

  .mainNavBG.active {
    height: 50px;
  }
}

/* navigation custom css */
.navLogoText a{
	font-size: 16px;
    font-weight: 400;
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}

.laguage-box {
	font-size: 16px;
	background: #414141;
	padding: 4px 20px 6px 20px;
	border-radius: 20px;
	margin-left: 20px;
}

.laguage-box a {
	text-decoration: none;
    font-size: 16px;
    line-height: 17px;
    color: #ffffff !important;
}

nav .logo {
    margin: 0 20px 0 30px;
}

.logo.icon-img-160 img {
    width: 160px !important;
}

/* navigation custom css */

/* smoothscroll content wrap */

#smooth-wrapper {
    overflow: hidden;
}

#smooth-content {
    will-change: transform;
}

/* smoothscroll content wrap */

/* header section css start */

header { 
	padding-top: 70px;
	margin-bottom: 2%;
}

.section-header {
    height: 650px;
}

.section-header-row {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.section-header-left {
    width: 90px;
    height: 100%;	
}

.section-header-left-imagebox {
    height: 80%;
    position: relative;
	overflow: hidden;
}

.section-header-leftbar-img {
    position: absolute;
    bottom: -50%;
    height: 110%;
    object-fit: cover;
	margin-bottom: 10%;
}

.section-header-left-plainbox {
    width: 100%;
    background: #F9F3E0;
    aspect-ratio: 1 / 1;
}

.section-header-main {
    width: calc( 100% - 90px );
}

.section-header-main-firstrow {
    height: 50%;
    max-height: 50%;
    width: 100%;
    display: flex;
}

.section-header-main-title {
    width: 26%;
    position: relative;    
    display: flex;
    align-items: self-end;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
	overflow: hidden;
}

.section-header-main-title h1 {
    z-index: 3;
    position: relative;
    vertical-align: bottom;
    color: #ffffff;
    font-size: 65px;
    font-weight: 500;
    margin-bottom: 0px;
	text-decoration: none;
}

.section-header-main-title-bgbox {
    position: absolute;
    right: 100%;
    bottom: 0;
    width: 100%;
    height: 100%;	
    mix-blend-mode: multiply;
    z-index: 2;
}

.section-header-main-title-bgbox.bg-merune {
	background: #671835;
}

img.section-header-main-title-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 115%;
    object-fit: cover;
    margin-bottom: 10%;
}

.section-header-main-subtitlecontent {
    width: 74%;
    display: flex;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 24%, rgba(249, 242, 223, 1) 73%);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 24%, rgba(249, 242, 223, 1) 73%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 24%, rgba(249, 242, 223, 1) 73%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f9f2df",GradientType=1);
}

.section-header-main-subtitle {
    width: 55%;
    display: flex;
    align-items: flex-end;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.section-header-main-subtitle h2 {
    font-size: 50px;
    font-weight: 400;
    color: #073251;
    width: 90%;
    margin-bottom: 0px;
}

.section-header-main-intro {
    width: 45%;
    display: flex;
    padding: 2%;
    align-items: center;
}

.section-header-main-intro p {
    font-size: 20px;
}

.section-header-main-secondrow {
    height: 50%;
	display: flex;
}

.section-header-main-directionbox {
	position: relative;
    width: 26%;
    height: 60%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f9f3e0;
	z-index: 2
}

.section-header-main-sectionimage {
    width: 40%;
    height: 110%;
    overflow: hidden;
}

img.section-header-main-sectionimg {
    width: 100%;
    height: 115%;
    object-fit: cover;
	object-position: center;
    margin-top: -5%;
}

.section-header-main-subtitle.none-heading {
	padding: 0 !important;
}

.section-header-main-subtitle .section-header-main-sectionimage {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.section-header-main-subtitle img.section-header-main-sectionimg {
    width: 100%;
    height: 115%;
    object-fit: cover;
	object-position: center;
    margin-top: -10%;
}

.util-link-box {
	position: relative;
    display: flex;
	background: #ffffff;
    padding: 1% 3%;	
	z-index: 1 !important;
}

.bg-pattern {
	position: absolute;
	bottom: 0;
	left: 0;
	width: auto;
	height: 100%;
	mix-blend-mode: plus-lighter;
	z-index: 0;
}

a.util-link-item {
    width: 50%;
    display: inline;
    font-size: 16px;
    line-height: 17px;
	padding: 8px;
    text-decoration: none;
    color: black;
}

a.util-link-item img {
    width: 28px;
	height: auto;
    margin-right: 5px;
}

a.util-link-item span {
    vertical-align: middle;
    padding-bottom: 3px;
}

.next-previous-box {
    display: flex;
    justify-content: flex-end;
	padding: 3%;
	padding-bottom: 5%;
	background: #f9f3e0;
	position: relative;
}

a.slidedown-tooltip  {
    padding: 2% 4%;
}

a.slidedown-tooltip img {
	height: 45px;
	width: auto;
}

a.slidedown-tooltip span {
    display: none;
}

a.slidedown-tooltip img {
	scale: 1;
	transition: all 0.6s ease-in-out;
}

a.slidedown-tooltip:hover img {
	scale: 1.05;
}

a#prevlink span, a#nextlink span {
    position: absolute;
    height: 90px;
    width: 100%;
    top: 0%;
    left: 0;
    display: block;
    background: #f9f3e0;
	padding: 5%;
    font-size: 20px;
    color: #000000;
    display: block;
/*    border: 1px solid #000000;*/
	transition: all 0.5s ease-in-out;
	z-index: -1;
}

a#prevlink:hover span, a#nextlink:hover span{
	top: 100%;
}

@media(max-width:1680px){
	.section-header {
		height: 560px;
	}
	.section-header-left {
		width: 85px;	
	}
	.section-header-main {
		width: calc( 100% - 85px );
	}
	a#prevlink span, a#nextlink span {
		height: 85px;
	}
	.section-header-main-title h1 {
		font-size: 60px;
		line-height: 62px;
	}
	.section-header-main-subtitle h2 {
    	font-size: 45px;
		line-height: 47px;
	}

}

@media(max-width:1580px){
	.mainNav {
		padding: 0px;
	}
	.section-header {
		height: 550px;
	}
	.section-header-left {
		width: 80px;	
	}
	.section-header-main {
		width: calc( 100% - 80px );
	}	
	.section-header-main-title h1 {
		font-size: 55px;
		line-height: 57px;
	}
	.section-header-main-subtitle h2 {
    	font-size: 40px;
		line-height: 42px;
	}
	.section-header-main-intro p {
		font-size: 18px;
	}
	.util-link-box , .next-previous-box {
		padding: 10px;
	}
	a.slidedown-tooltip img {
		height: 40px;
		width: auto;
	}
	a#prevlink span, a#nextlink span {
		height: 80px;
	}
	a.util-link-item {
		font-size: 14px;
	}
}

@media(max-width:1440px){
	.section-header {
		height: 500px;
	}
	.section-header-left {
		width: 75px;	
	}
	.section-header-main {
		width: calc( 100% - 75px );
	}	
	a#prevlink span, a#nextlink span {
		height: 75px;
	}
	a.util-link-item img {
		width: 27px;
		margin-right: 3px;
	}
	.util-link-item {
		padding: 5px;
	}
}

@media(max-width:1400px){
	.section-header-main-title {
    	width: 28%;
	}
	.section-header-main-title, .section-header-main-subtitle {
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 25px;
	}
	.section-header-main-subtitlecontent {
    	width: 72%;
	}
	.section-header-main-directionbox {
		width: 28%;
	}
	.section-header-main-sectionimage {
    	width: 38%;
	}
}

@media(max-width:1366px){
	.section-header {
		height: 450px;
	}
	.section-header-left {
		width: 70px;	
	}
	.section-header-main {
		width: calc( 100% - 70px );
	}
	.section-header-main-title, .section-header-main-subtitle {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
	.util-link-box, .next-previous-box {
        padding: 10px 5px;
    }
	a.util-link-item {
		padding: 5px;
	}
	a.slidedown-tooltip img {
        height: 34px;
        width: auto;
    }
	a#prevlink span, a#nextlink span {
		height: 70px;
		font-size: 16px;
	}
	.section-header-main-title h1 {
		font-size: 50px;
		line-height: 52px;
	}
	.section-header-main-subtitle h2 {
    	font-size: 35px;
		line-height: 37px;
	}
}

@media(max-width:1280px){
	.section-header {
		height: 430px;
	}
	.section-header-left {
		width: 65px;	
	}
	.section-header-main {
		width: calc( 100% - 65px );
	}
	a#prevlink span, a#nextlink span {
		height: 65px;
		font-size: 16px;
	}
	.section-header-main-title h1 {
		font-size: 45px;
		line-height: 52px;
	}
	.section-header-main-subtitle h2 {
    	font-size: 33px;
		line-height: 37px;
	}
	a.util-link-item {
		padding: 5px;
	}
}

@media(max-width:1024px){
	.section-header {
		height: 450px;
	}
	.section-header-left {
		width: 60px;	
	}
	.section-header-main {
		width: calc( 100% - 60px );
	}
	a#prevlink span, a#nextlink span {
		height: 60px;
		font-size: 14px;
        line-height: 16px;
	}
	.section-header-main-title h1 {
		font-size: 40px;
		line-height: 43px;
	}
	.section-header-main-subtitle h2 {
    	font-size: 28px;
		line-height: 32px;
	}
	a.util-link-item {
		padding: 5px;
		line-height: 16px;
	}
	a.util-link-item img {
        width: 27px;
        margin-right: 5px;
    }
	.util-link-box, .next-previous-box {
        padding: 6px 5px;
    }
	.section-header-main-title, .section-header-main-subtitle {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }
	a.util-link-item {
		width: 50%;
		display: flex;
	}
	.section-header-main-intro p {
        font-size: 16px;
        line-height: 22px;
    }
}

@media(max-width:991px){
	nav .logo {
		margin: 0 20px 0 20px;
	}
	header {
    	padding-top: 65px;
	}
	.section-header {
        height: 400px;
    }
	.section-header-left {
		width: 55px;	
	}
	.section-header-main {
		width: calc( 100% - 55px );
	}
	a#prevlink span, a#nextlink span {
		display: none;
	}
	.section-header-main-title h1 {
		font-size: 38px;
		line-height: 42px;
	}
	.section-header-main-subtitle h2 {
    	font-size: 27px;
        line-height: 30px;
	}
	.page-actions {
		gap: 18px;
		margin-right: 10px;
	}
	.logo.icon-img-160 img {
		width: auto !important;
        height: 35px;
	}
	.laguage-box {
		margin-left: 0px;
		padding: 2px 20px 7px 20px;
	}
}

@media(max-width:900px){
	.section-header {
        height: 360px;
    }
	.section-header-left {
        width: 50px;
    }
	.section-header-main {
		width: calc( 100% - 50px );
	}
	.section-header-main-title h1 {
		font-size: 34px;
        line-height: 38px;
	}
	.section-header-main-subtitle h2 {
    	font-size: 24px;
        line-height: 27px;
	}
	.section-header-main-intro p {
        font-size: 14px;
        line-height: 18px;
    }
	a.util-link-item {
        font-size: 12px;
		line-height: 14px;
    }
}
@media(max-width:800px){
	.section-header {
        height: 320px;
    }
	.section-header-left {
        width: 45px;
    }
	.section-header-main {
		width: calc( 100% - 45px );
	}
	a.util-link-item img {
        width: 24px;
        margin-right: 5px;
    }
	a.util-link-item {
        padding: 3px;
        font-size: 12px;
        line-height: 14px;
    }
	.section-header-main-subtitle h2 {
        font-size: 20px;
        line-height: 24px;
    }
	.section-header-main-title h1 {
        font-size: 32px;
        line-height: 35px;
    }
	a.slidedown-tooltip img {
        height: 30px;
        width: auto;
    }
}
@media(max-width:767px){
	.section-header {
        height: fit-content;
    }
	.section-header-left {
        width: 45px;
        height: auto;
    }
	.section-header-main-sectionimage {
		display: none;
	}
	.section-header-main-title h1 {
        font-size: 30px;
        line-height: 32px;
    }
	.section-header-main-firstrow {
		height: fit-content;
		max-height: fit-content;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.section-header-main-title {
        width: 100%;
		padding: 15px;
    }
	.section-header-main-subtitlecontent {
        width: 100%;
		height: fit-content;
    }
	.section-header-main-secondrow {
		height: fit-content;
		display: flex;
		flex-direction: row;
	}
	.section-header-main-subtitle {
		width: 50%
	}
	.section-header-main-directionbox {
		width: 50%;
		width: fit-content;
		height: fit-content;
		display: flex;
		flex-direction: row;
	}
	.util-link-box, .next-previous-box {
        padding: 6px 5px;
        margin: 5px;
    }
	.next-previous-box {
        padding: 6px 5px;
        mmargin-left: 20px;
        gap: 15px;
		align-items: center;
    }
	    a.util-link-item {
        align-items: center;
    }
	.section-header-left-imagebox {
		height: 100%;
	}
	.section-header-left-plainbox {
		display: none;
	}
}
/* header section css end */

/* chariman section header css start */

.section-header.chairman {
	height: 650px;
}

.section-header-row.chairman {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.section-header-left.chairman {
    width: 90px;
    height: 100%;	
}

.section-header-left-imagebox.chairman {
    height: 80%;
    position: relative;
	overflow: hidden;
}

.section-header-leftbar-img.chairman {
    position: absolute;
    bottom: 0;
    height: 110%;
    object-fit: cover;
	margin-bottom: 10%;
}

.section-header-left-plainbox.chairman {
    width: 100%;
    background: #F9F3E0;
    aspect-ratio: 1 / 1;
}

.section-header-main.chairman {
    width: calc( 100% - 90px );
	display: flex;
}

.section-header-main-firstcolumn {
    height: 100%;
    max-height: 100%;
    width: 30%;
}

.section-header-main-title.chairman {
    width: 100%;
    height: 50%;
    position: relative;
    background: #671835;
    display: flex;
    align-items: self-end;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
	overflow: hidden;
}

.section-header-main-title.chairman h1 {
    z-index: 3;
    position: relative;
    vertical-align: bottom;
    color: #ffffff;
    font-size: 65px;
    font-weight: 500;
    margin-bottom: 0px;
	text-decoration: none;
}

.section-header-main-title-bgbox.chairman {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: color-burn;
    z-index: 2;
}

img.section-header-main-title-bg.chairman {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 115%;
    object-fit: cover;
    margin-bottom: 10%;
}

.section-header-main-directionbox.chairman {
	position: relative;
    width: 100%;
    height: 30%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f9f3e0;
}

.section-header-main-sectionimage {
    width: 40%;
    height: 110%;
    overflow: hidden;
}

img.section-header-main-sectionimg {
    width: 100%;
    height: 115%;
    object-fit: cover;
	object-position: center;
    margin-top: -5%;
}

.util-link-box.chairman {
	position: relative;
    display: flex;
    padding: 1% 3%;	
	z-index: 1 !important;
}

.bg-pattern {
	position: absolute;
	bottom: 0;
	left: 0;
	width: auto;
	height: 100%;
	mix-blend-mode: plus-lighter;
	z-index: 0;
}

/*
a.util-link-item {
    width: 50%;
    display: inline;
    font-size: 16px;
    line-height: 17px;
	padding: 8px;
    text-decoration: none;
    color: black;
}
*/

/*
a.util-link-item img {
    width: 26px;
	height: auto;
    margin-right: 5px;
}
*/

/*
a.util-link-item span {
    vertical-align: middle;
    padding-bottom: 3px;
}
*/

/*
.next-previous-box {
    display: flex;
    justify-content: flex-end;
	padding: 3%;
	padding-bottom: 5%;
	background: #f9f3e0;
	position: relative;
}
*/

/*
a.slidedown-tooltip  {
    padding: 2% 4%;
}
*/

/*
a.slidedown-tooltip img {
	height: 45px;
	width: auto;
}
*/

/*
a.slidedown-tooltip span {
    display: none;
}

a.slidedown-tooltip img {
	scale: 1;
	transition: all 0.6s ease-in-out;
}

a.slidedown-tooltip:hover img {
	scale: 1.05;
}
*/

/*
a#prevlink span, a#nextlink span {
    position: absolute;
    height: 90px;
    width: 100%;
    top: 0%;
    left: 0;
    display: block;
    background: #f9f3e0;
	padding: 5%;
    font-size: 20px;
    color: #000000;
    display: block;
    border: 1px solid #000000;
	transition: all 0.5s ease-in-out;
	z-index: -1;
}
*/

/*
a#prevlink:hover span, a#nextlink:hover span{
	top: 100%;
}
*/

/*
.section-header-main-subtitlecontent {
    width: 74%;
    display: flex;
    background: background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 24%, rgba(249, 242, 223, 1) 73%);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 24%, rgba(249, 242, 223, 1) 73%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 24%, rgba(249, 242, 223, 1) 73%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f9f2df",GradientType=1);
}
*/

.section-header-main-secondcolumn {
    height: 80%;
	width: 70%;
	display: flex;
}

.section-header-charimanimage-section {
    width: 55%;
	position: relative;
	overflow: hidden;
}

img.img-fluid.section-header-charimanimage {
    position: absolute;
    height: 95%;
    bottom: 0;
    left: 30px;
    z-index: 1;
    vertical-align: bottom;
}

img.img-fluid.section-header-charimanbgimage {
    left: 0;
    position: absolute;	
    bottom: 0;
	height: 110%;
	margin-bottom: 6%;
    object-fit: cover;
    object-position: left;
}

.section-header-chariman-message {
    width: 45%;
    display: flex;
    padding: 2% 5% 2% 2%;
    align-items: center;
}

.section-header-chariman-message p {
    font-size: 22px;
/*	line-height: 26px;*/
}



/* chariman section header css end */

/* content arear section css start*/

main .content-area {
    padding: 0 0 100px 0;
}

/* content arear section css  end*/

/* footer css start */

.footer {
    background-color: rgb(57, 57, 57);
}

footer .footer > div:first-child {
    padding: 20px 65px 20px 65px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: rgb(57, 57, 57);
    width: 100%;
    margin: auto;
}

footer .footer > div:last-child {
    padding: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: black;
}

footer .footer > div:last-child p {
    font-size: 12px !important;
    color: rgb(179, 179, 179);
    margin: 0;
}

footer p a {
    color: #B9A673;
}

@media (max-width:768px){
	footer .footer >div:first-child {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 15px;
    }
}

/* footer css start */

/*kanishka */

.cream_gradient {
  background: linear-gradient(to right, #f8f1dd, #ffffff);
  padding: 20px;
}

/* new  */
.leap_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  max-width: 150px;
}

.purple_bg_liner {
  background: linear-gradient(to right, #674f9e, #2e2b6d);
}

.blu_bg_liner {
  background: linear-gradient(to right, #1d78b8, #005693);
}

.grn_bg_liner {
  background: linear-gradient(to right, #72bf56, #65b54e);
  padding: 20px 10px;
}

.leap_container img {
  width: 70px;
  margin-bottom: 10px;
}

.leap_container p,
.leap_container h3 {
  color: white;
  text-align: center;
}

.summary_table {
  display: flex;
}

.summary_custome table tbody tr:first-child td p {
  background-color: #793894;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 20px;
}

.summary_custome {
  padding: 10px;
  background-color: #f0eaf4;
}

.summary_custome table tbody tr td {
  color: #793894;
  background-color: #f0eaf4;
}

.summary_custome table tbody tr:nth-child(2) td:nth-child(1) {
  border-bottom: 1px solid #793894;
}
.summary_custome table tbody tr:nth-child(3) td:nth-child(1) {
  border-bottom: 1px solid #793894;
}
.summary_custome table tbody tr:nth-child(4) td:nth-child(1) {
  border-bottom: 1px solid #793894;
}
.summary_custome table tbody tr:nth-child(5) td:nth-child(1) {
  border-bottom: 1px solid #793894;
}

.summary_custome table tbody tr:nth-child(2) td:nth-child(3) {
  background: white;
}

.summary_custome table tbody tr:nth-child(2) td:nth-child(4) {
  border-bottom: 1px solid #793894;
  background: white;
  text-align: left;
}

.summary_custome table tbody tr:nth-child(2) td:nth-child(5) {
  background: white;
}

.summary_custome table tbody tr:nth-child(2) td:nth-child(7) {
  border-bottom: 1px solid #793894;
  background: white;
}

.summary_custome table tbody tr:nth-child(3) td:nth-child(3) {
  background: white;
}

.summary_custome table tbody tr:nth-child(3) td:nth-child(4) {
  border-bottom: 1px solid #793894;
  background: white;
  text-align: left;
}

.summary_custome table tbody tr:nth-child(3) td:nth-child(5) {
  background: white;
}

.summary_custome table tbody tr:nth-child(3) td:nth-child(7) {
  border-bottom: 1px solid #793894;
  background: white;
}

.summary_custome table tbody tr:nth-child(4) td:nth-child(3) {
  background: white;
}

.summary_custome table tbody tr:nth-child(4) td:nth-child(4) {
  border-bottom: 1px solid #793894;
  background: white;
  text-align: left;
}

.summary_custome table tbody tr:nth-child(4) td:nth-child(5) {
  background: white;
}

.summary_custome table tbody tr:nth-child(4) td:nth-child(7) {
  border-bottom: 1px solid #793894;
  background: white;
}

.summary_custome table tbody tr:nth-child(5) td:nth-child(3) {
  background: white;
}

.summary_custome table tbody tr:nth-child(5) td:nth-child(4) {
  border-bottom: 1px solid #793894;
  background: white;
  text-align: left;
}

.summary_custome table tbody tr:nth-child(5) td:nth-child(5) {
  background: white;
}

.summary_custome table tbody tr:nth-child(5) td:nth-child(7) {
  border-bottom: 1px solid #793894;
  background: white;
}

.summary_custome table tbody tr:nth-child(6) td:nth-child(3) {
  background: white;
}

.summary_custome table tbody tr:nth-child(6) td:nth-child(4) {
  background: white;
  text-align: left;
}

.summary_custome table tbody tr:nth-child(6) td:nth-child(5) {
  background: white;
}

.summary_custome table tbody tr:nth-child(6) td:nth-child(7) {
  background: white;
}
.summary_custome table tbody tr:last-child {
  border-bottom: none;
}

/* blu table  */
.summary_custome1 table tbody tr:first-child td p {
  background-color: #1f5c9d;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 20px;
}

.summary_custome1 {
  padding: 10px;
  background-color: #eef7f9;
}

.summary_custome1 table tbody tr td {
  color: #007ab4;
  background-color: #eef7f9;
}

.summary_custome1 table tbody tr:nth-child(2) td:nth-child(1) {
  border-bottom: 1px solid #007ab4;

}
.summary_custome1 table tbody tr:nth-child(3) td:nth-child(1) {
  border-bottom: 1px solid #007ab4;
}
.summary_custome1 table tbody tr:nth-child(4) td:nth-child(1) {
  border-bottom: 1px solid #007ab4;
}

.summary_custome1 table tbody tr:nth-child(2) td:nth-child(3) {
  background: white;
}

.summary_custome1 table tbody tr:nth-child(2) td:nth-child(4) {
  border-bottom: 1px solid #007ab4;
  background: white;
  text-align: left;
}

.summary_custome1 table tbody tr:nth-child(2) td:nth-child(5) {
  background: white;
}

.summary_custome1 table tbody tr:nth-child(2) td:nth-child(7) {
  border-bottom: 1px solid #007ab4;
  background: white;
}

.summary_custome1 table tbody tr:nth-child(3) td:nth-child(3) {
  background: white;
}

.summary_custome1 table tbody tr:nth-child(3) td:nth-child(4) {
  border-bottom: 1px solid #007ab4;
  background: white;
  text-align: left;
}

.summary_custome1 table tbody tr:nth-child(3) td:nth-child(5) {
  background: white;
}

.summary_custome1 table tbody tr:nth-child(3) td:nth-child(7) {
  border-bottom: 1px solid #007ab4;
  background: white;
}

.summary_custome1 table tbody tr:nth-child(4) td:nth-child(3) {
  background: white;
}

.summary_custome1 table tbody tr:nth-child(4) td:nth-child(4) {
  border-bottom: 1px solid #007ab4;
  background: white;
  text-align: left;
}

.summary_custome1 table tbody tr:nth-child(4) td:nth-child(5) {
  background: white;
}

.summary_custome1 table tbody tr:nth-child(4) td:nth-child(7) {
  border-bottom: 1px solid #007ab4;
  background: white;
}

.summary_custome1 table tbody tr:nth-child(5) td:nth-child(3) {
  background: white;
}

.summary_custome1 table tbody tr:nth-child(5) td:nth-child(4) {
  background: white;
  text-align: left;
}

.summary_custome1 table tbody tr:nth-child(5) td:nth-child(5) {
  background: white;
}

.summary_custome1 table tbody tr:nth-child(5) td:nth-child(7) {
  background: white;
}

.summary_custome1 table tbody tr:nth-child(6) td:nth-child(3) {
  background: white;
}

.summary_custome1 table tbody tr:nth-child(6) td:nth-child(4) {
  background: white;
}

.summary_custome1 table tbody tr:nth-child(6) td:nth-child(5) {
  background: white;
}

.summary_custome1 table tbody tr:nth-child(6) td:nth-child(7) {
  background: white;
}
.summary_custome1 table tbody tr:last-child {
  border-bottom: none;
}

/* grn table  */
.summary_custome2 table tbody tr:first-child td p {
  background-color: #4d724c;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 20px;
}

.summary_custome2 {
  padding: 10px;
  background-color: #eef6ee;
}

.summary_custome2 table tbody tr td {
  color: #4d724c;
  background-color: #eef6ee;
}

.summary_custome2 table tbody tr:nth-child(2) td:nth-child(1) {
  border-bottom: 1px solid #4d724c;
}

.summary_custome2 table tbody tr:nth-child(2) td:nth-child(3) {
  background: white;
}

.summary_custome2 table tbody tr:nth-child(2) td:nth-child(4) {
  border-bottom: 1px solid #4d724c;
  background: white;
  text-align: left;
}

.summary_custome2 table tbody tr:nth-child(2) td:nth-child(5) {
  background: white;
}

.summary_custome2 table tbody tr:nth-child(2) td:nth-child(7) {
  border-bottom: 1px solid #4d724c;
  background: white;
}

.summary_custome2 table tbody tr:nth-child(3) td:nth-child(3) {
  background: white;
}

.summary_custome2 table tbody tr:nth-child(3) td:nth-child(4) {
  background: white;
  text-align: left;
}

.summary_custome2 table tbody tr:nth-child(3) td:nth-child(5) {
  background: white;
}

.summary_custome2 table tbody tr:nth-child(3) td:nth-child(7) {
  background: white;
}

.summary_custome2 table tbody tr:last-child {
  border-bottom: none;
}

.summary_custome table tbody tr:nth-child(2) td:last-child p {
  font-weight: bold;
}
.summary_custome table tbody tr:nth-child(3) td:last-child p {
  font-weight: bold;
}
.summary_custome table tbody tr:nth-child(4) td:last-child p {
  font-weight: bold;
}
.summary_custome table tbody tr:nth-child(5) td:last-child p {
  font-weight: bold;
}
.summary_custome table tbody tr:nth-child(6) td:last-child p {
  font-weight: bold;
}
.summary_custome table tbody tr:nth-child(2) td:last-child img {
  width: 60px;
  margin: 0 0px 10px 20px;
}
.summary_custome table tbody tr:nth-child(3) td:last-child img {
  width: 60px;
  margin: 0 0px 10px 20px;
}
.summary_custome table tbody tr:nth-child(4) td:last-child img {
  width: 60px;
  margin: 0 0px 10px 20px;
}
.summary_custome table tbody tr:nth-child(5) td:last-child img {
  width: 60px;
  margin: 0 0px 10px 20px;
}
.summary_custome table tbody tr:nth-child(6) td:last-child img {
  width: 60px;
  margin: 0 0px 10px 20px;
}

.summary_custome1 table tbody tr:nth-child(2) td:last-child p {
  font-weight: bold;
}
.summary_custome1 table tbody tr:nth-child(3) td:last-child p {
  font-weight: bold;
}
.summary_custome1 table tbody tr:nth-child(4) td:last-child p {
  font-weight: bold;
}
.summary_custome1 table tbody tr:nth-child(5) td:last-child p {
  font-weight: bold;
}
.summary_custome1 table tbody tr:nth-child(2) td:last-child img {
  width: 60px;
  margin: 0 0px 10px 20px;
}
.summary_custome1 table tbody tr:nth-child(3) td:last-child img {
  width: 60px;
  margin: 0 0px 10px 20px;
}
.summary_custome1 table tbody tr:nth-child(4) td:last-child img {
  width: 60px;
  margin: 0 0px 10px 20px;
}
.summary_custome1 table tbody tr:nth-child(5) td:last-child img {
  width: 60px;
  margin: 0 0px 10px 20px;
}

.summary_custome2 table tbody tr:nth-child(2) td:last-child p {
  font-weight: bold;
}
.summary_custome2 table tbody tr:nth-child(3) td:last-child p {
  font-weight: bold;
}

.summary_custome2 table tbody tr:nth-child(2) td:last-child img {
  width: 60px;
  margin: 0 0px 10px 20px;
}
.summary_custome2 table tbody tr:nth-child(3) td:last-child img {
  width: 60px;
  margin: 0 0px 10px 20px;
}

/* new  */
.cream_bg {
  background-color: #faf6ee;
  padding: 20px;
}

.bm_col {
  display: flex;
  flex-direction: column;
}

.bm_div {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
}

.bm_div ul li {
  padding-bottom: 5px;
  border-bottom: 1px solid #d8aa27;
  color: #3c2f82;
}

.bm_div ul li:last-child {
  padding-bottom: 5px;
  border-bottom: none;
  color: #3c2f82;
}

.bm_div h3 {
  color: white;
  margin: 0;
}

.bm_b_head1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 60px;
  padding: 10px 0;
  background: linear-gradient(to right, #4a3586, #a86dad);
}

.bm_b_head2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  background: linear-gradient(to right, #a870ae, #a870ae);
}

.bm_b_head3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-bottom-right-radius: 60px;
  background: linear-gradient(to right, #aa70ae, #89bd95);
}

@media screen and (max-width: 991px) {
  .bm_b_head1,.bm_b_head3 {
    border-radius: 0;
  }

}

/* new  */
.cop_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.cop_div img {
  width: 60px;
}

/* new  */
.cop_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.cop_div img {
  width: 60px;
}

.div_cop {
  display: flex;
  flex-direction: column;
}

.div_cop > div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
}

.div_cop > div p {
  color: #7d3995;
}

.div_cop > .cf_purple {
  background-color: #eae3f0;
}

.div_cop > .cf_green {
  background-color: #e3f1e4;
}

.prvt_indic {
  position: relative;
  border: 1px solid #d8aa27;
  padding: 20px;
  margin-top: 20px;
}

.prvt_gry {
  background-color: #f3f3f4;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.prvt_head {
  position: absolute;
  top: -18px;
  left: 11px;
  display: inline-flex;
  padding: 6px 20px 8px 20px;
  border-radius: 30px;
  background: linear-gradient(to right, #3d3183, #aa70ae);
}

.prvt_head h3 {
  margin: 0;
  color: white;
}

@media screen and (max-width: 567px) {
  .prvt_head {
    position: relative;
    display: flex;
    margin: 0px 0px 9px 0px;
    width: 100%;
    text-align: center;
    left: 0;
    top: 0;
  }  
}

/* new  */

.join_for_main {
  background-color: #e3f1e4;
  padding: 20px;
}

.join_for_con {
  display: flex;
  gap: 10px;
}

.join_for_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.join_line {
  width: 1px;
  height: 100%;
  background-color:#d8aa27; 
}

/* new  */
.join_for_main_blu {
  background-color: #e0f2fc;
  padding: 20px;
}
.join_line_blu {
  width: 1px;
  height: 100%;
  background-color:#1f5c9d; 
}

.join_for_main_yellow {
  background-color: #fbf7ef;
  padding: 20px;
}

.line_heading_desing {
  height: 7px;
  width: 100%;
  border-top: 1px solid #A88D49;
  border-right: 1px solid #A88D49;
}

.join_for_main_yellow .join_border_bottom {
  border-bottom: 1px solid #A88D49;
  margin-bottom: 10px;
}

.line_heding_container {
  display: flex;
  align-items: center;
  width: 100%;
}

.line_heding_container h3 {
  width: 70%;
}

.purple_bg_container {
  background-color: #efeaf4;
  color: #7d3995;
  padding: 20px;
}

/* new  */
.prvt_bottom {
  display: flex;
  gap: 8px;
}

.prvt_b_left {
  background: linear-gradient(to bottom, #ded1de 1%,#f2ece5 100%, #f2ece5 100%);
  padding: 10px;
  width: 100%;
  flex: 2;
}

.prvt_b_right {
  background: linear-gradient(to bottom, #ded1de 1%,#eee8eb 100%, #eee8eb 100%);
  padding: 10px;
  text-align: center;
  width: 100%;
  flex: 1;
}

.prvt_b_right p {
  color: #664490;
}

.prvt_b_right h4 {
  font-weight: bold;
  color: #664490;
}

/* new  */
.driving_version {
  display: flex;
  flex-direction: column;
}

/* green  */
.version_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  text-align: center;
  align-items: center;
  min-height: 52%;
}

.version_green {
  background: linear-gradient(to bottom, #ffffff,#e2f0e3);
}
.version_green1 {
  background: #e2f0e3;
  padding: 20px;
  text-align: center;
  min-height: 55%;
}

.version_green h4 {
  color: #4db16d;
  font-weight: bold;
}

.version_green p {
  color: #567a56;
}

/* purple  */
.version_purple {
  background: linear-gradient(to bottom, #ffffff, #ebe2ef);
}
.version_purple1 {
  background: #ebe2ef;
  padding: 20px;
  text-align: center;
  min-height: 55%;
}

.version_purple h4 {
  color: #a870ae;
  font-weight: bold;
}

.version_purple p {
  color: #af7ab4;
}

/* blue  */
.version_blue {
  background: linear-gradient(to bottom, #ffffff, #d9e3f0);
}
.version_blue1 {
  background:#d9e3f0;
  padding: 20px;
  text-align: center;
  min-height: 55%;
}

.version_blue h4 {
  color: #007ab4;
  font-weight: bold;
}

.version_blue p {
  color: #1384ba;
}

@media screen and (max-width: 991px) {
  .version_container {
    min-height: auto;
  }
}

/* new  */

.en_review {
  display: flex;
  background-color: #eee9f4;
  padding: 20px;
  position: relative;
  margin-top: 25px;
}

.review_header {
  position: absolute;
  top: -15px;
  left: 0;
  background: linear-gradient(to right, #3a2e80, #aa70ae);
}

.review_header::after {
  content: '';
  position: absolute;
  right: -15px;
  top: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #3c2f82;
  border-top: 15px solid transparent;
}

.review_header h3 {
  color: white;
  padding: 5px 15px 7px 15px;
  margin: 0;
}

.en_review p {
  color: #84469b;
}

.en_review_left {
  flex: 1;
  border-right: 1px solid #84469b;
  margin-right: 27px;
}

.en_review_right {
  flex: 1;
}
.en_review_bottom {
  border-bottom: 1px solid #84469b;
}

.impact_number {
  background-color: #e8f4eb;
  padding: 20px;
  position: relative;
  margin: 20px 0;
}

.impact_number_header {
  position: absolute;
  top: -15px;
  left: 0;
  background: linear-gradient(to right, #26b472, #70b18b);
}

.impact_number_header::after {
  content: '';
  position: absolute;
  right: -15px;
  top: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #4d724c;
  border-top: 15px solid transparent;
}

.impact_number_header h4 {
  color: white;
  padding: 5px 15px 7px 15px;
  margin: 0;
}

.impact_number h3 {
  color: #2ab473;
  font-size: 30px;
}

.impact_number p {
  color: #2ab473;
}

.impact_number_left {
  flex: 1;
  padding-right: 15px;
}

.impact_number_bottom {
  border-bottom: 1px solid #2ab473;
  padding-bottom: 10px;
}

.impact_number_right {
  flex: 1;
  border-left: 1px solid #2ab473;
  padding-left: 15px;
}

/* new  */
.impact_number1 {
  background-color: #f9f6f0;
  padding: 20px;
  position: relative;
  margin: 20px 0;
}

.impact_number_header1 {
  position: absolute;
  top: -15px;
  left: 0;
  background: linear-gradient(to right, #c0953d, #fecc52);
}

.impact_number_header1::after {
  content: '';
  position: absolute;
  right: -15px;
  top: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #a0774f;
  border-top: 15px solid transparent;
}

.impact_number_header1 h4 {
  color: white;
  padding: 5px 15px 7px 15px;
  margin: 0;
}

.impact_number1 h3 {
  color: #4d2946;
  font-size: 30px;
}

.impact_number1 p {
  color: #4d2946;
}

.impact_number_left1 {
  flex: 1;
  padding-right: 15px;
}

.impact_number_bottom1 {
  border-bottom: 1px solid #f8c691;
  padding-bottom: 10px;
}

.impact_number_right1 {
  flex: 1;
  border-left: 1px solid #f8c691;
  padding-left: 15px;
}

.impact_number_top1 {
  border-top: 1px solid #f8c691;
  margin-top: 10px;
  padding-top: 10px;
}


/* orange  */
.impact_number2 {
  background-color: #fbf3e9;
  padding: 20px;
  position: relative;
  margin: 20px 0;
}

.impact_number_header2 {
  position: absolute;
  top: -15px;
  left: 0;
  background: linear-gradient(to right, #ec6e30, #f79421);
}

.impact_number_header2::after {
  content: '';
  position: absolute;
  right: -15px;
  top: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #96292a;
  border-top: 15px solid transparent;
}


.impact_number_header2 h4 {
  color: white;
  padding: 5px 15px 7px 15px;
  margin: 0;
}

.impact_number2 h3 {
  color: #f26d65;
  font-size: 30px;
}

.impact_number2 p {
  color: #f26d65;
}

.impact_number_left2 {
  flex: 1;
  padding-right: 15px;
}

.impact_number_bottom2 {
  border-bottom: 1px solid #f6afa6;
  padding-bottom: 10px;
}

.impact_number_right2 {
  flex: 1;
  border-left: 1px solid #f6afa6;
  padding-left: 15px;
}

.impact_number_top2 {
  border-top: 1px solid #f6afa6;
  margin-top: 10px;
  padding-top: 10px;
}

.salem_div {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

.salem_head {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
}

.salem_content {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.sal_icon {
   display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.salem_div p {
  color: #3c2f82;
}

.salem_purple {
  background-color: #f6f2f8;
}

.salem_green {
  background-color: #f6faf6;
}

.salem_blue {
  background-color: #ecf0f7;
}

.salem_purple .salem_head {
  border-bottom: 1px solid #a971b0;
}

.salem_green .salem_head {
  border-bottom: 1px solid #9ed4a9;
}

.salem_blue .salem_head {
  border-bottom: 1px solid #087db6;
}

.spirit_div {
  background-color: #f6f2f8;
  padding: 20px;
}

.spirit_div p{
  color: #3c2f82;
  columns: 2;
  gap: 2rem;
}
.spirit_div h3{
  color: #3c2f82;
}

@media screen and (max-width: 991px) {
  .spirit_div p{
    color: #3c2f82;
    columns: 1;
  }
}

/* blue  */
.impact_number3 {
  background-color: #eef4fb;
  padding: 20px;
  position: relative;
  margin: 20px 0;
}

.impact_number_header3 {
  position: absolute;
  top: -15px;
  left: 0;
  background: linear-gradient(to right, #1a578e, #1d79b8);
}

.impact_number_header3::after {
  content: '';
  position: absolute;
  right: -15px;
  top: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #005498;
  border-top: 15px solid transparent;
}


.impact_number_header3 h4 {
  color: white;
  padding: 5px 15px 7px 15px;
  margin: 0;
}

.impact_number3 h3 {
  color: #007bb5;
  font-size: 30px;
}

.impact_number3 p {
  color: #007bb5;
}

.impact_number_left3 {
  flex: 1;
  padding-right: 15px;
}

.impact_number_bottom3 {
  border-bottom: 1px solid #007bb5;
  padding-bottom: 10px;
}

.impact_number_right3 {
  flex: 1;
  border-left: 1px solid #007bb5;
  padding-left: 15px;
}


.impact_number_top3 {
  border-top: 1px solid #007bb5;
  margin-top: 10px;
  padding-top: 10px;
}

/* purple  */
.impact_number4 {
  background-color: #eee9f4;
  padding: 20px;
  position: relative;
  margin: 20px 0;
}

.impact_number_header4 {
  position: absolute;
  top: -15px;
  left: 0;
  background: linear-gradient(to right, #3b2f82, #aa70ae);
}

.impact_number_header4::after {
  content: '';
  position: absolute;
  right: -15px;
  top: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #3c2f82;
  border-top: 15px solid transparent;
}

.impact_number_header4 h4 {
  color: white;
  padding: 5px 15px 7px 15px;
  margin: 0;
}

.impact_number4 h3 {
  color: #6e3c91;
  font-size: 30px;
}

.impact_number4 p {
  color: #6e3c91;
}

.impact_number_left4 {
  flex: 1;
  padding-right: 15px;
}

.impact_number_bottom4 {
  border-bottom: 1px solid #6e3c91;
  padding-bottom: 10px;
}

.impact_number_right4 {
  flex: 1;
  border-left: 1px solid #6e3c91;
  padding-left: 15px;
}

.impact_number_top4 {
  border-top: 1px solid #6e3c91;
  margin-top: 10px;
  padding-top: 10px;
}


/*kanishka end */


