<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/libs/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/libs/fontawesome.css" />
    <link rel="stylesheet" href="../assets/css/custom.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="fixedNavContainer">
      <div class="logoAndClose">
        <a href="index.html">
          <img
            src="../assets/images/sedco_logo.svg"
            alt="Sedco Logo"
            class="NavMasLogo"
          />
        </a>

        <i class="fa-solid fa-x closeIcon" id="closeIcon"></i>
      </div>
      <img src="assets/images/nav_lines.png" alt="Nav Lines" class="navLines" />
      <div class="NavItemMainContainer">
        <div class="navItem" style="transition-delay: 0.6s">
          <div class="navImageContainer">
            <div class="navImage">
              <img src="assets/images/nav_image_one.webp" alt="Nav Image" />
            </div>
            <div class="navArrowContainer">
              <img src="assets/images/grey_right_arrow.svg" alt="" />
            </div>
          </div>
          <div class="navImageMobile navImageMobileOne">
            <h1>Year in Review</h1>
          </div>
          <div class="navTextMobileWrapper">
            <div class="navTextContainer">
              <h1 class="navSectionText">Year in <br />Review</h1>
              <ul>
                <li>
                  <a href="year_in_review/message_from_our_group_ceo.html"
                    >Message from Our Group CEO</a
                  >
                </li>
                <li>
                  <a
                    href="year_in_review/progressing_our_plan_for_change_in_2023.html"
                    >Progressing Our Plan for Change in 2023</a
                  >
                </li>
                <li>
                  <a href="year_in_review/2023_highlights.html"
                    >2023 Highlights</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="navItem" style="transition-delay: 0.7s">
          <div class="navImageContainer">
            <div class="navImage">
              <img src="assets/images/nav_image_two.webp" alt="Nav Image" />
            </div>
            <div class="navArrowContainer">
              <img src="assets/images/grey_right_arrow.svg" alt="" />
            </div>
          </div>
          <div class="navImageMobile navImageMobileTwo">
            <h1>Introduction</h1>
          </div>
          <div class="navTextMobileWrapper">
            <div class="navTextContainer">
              <h1 class="navSectionText">Introduction</h1>
              <ul>
                <li>
                  <a href="introduction/the_mas_story.html">The MAS Story</a>
                </li>
                <li>
                  <a href="introduction/our_plan_for_change.html"
                    >Our Plan for Change</a
                  >
                </li>
                <li>
                  <a href="introduction/background_to_the_report.html"
                    >Background to the Report</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="navItem" style="transition-delay: 0.8s">
          <div class="navImageContainer">
            <div class="navImage">
              <img src="assets/images/nav_image_three.webp" alt="Nav Image" />
            </div>
            <div class="navArrowContainer">
              <img src="assets/images/grey_right_arrow.svg" alt="" />
            </div>
          </div>
          <div class="navImageMobile navImageMobileThree">
            <h1>Impact Review</h1>
          </div>
          <div class="navTextMobileWrapper">
            <div class="navTextContainer">
              <h1 class="navSectionText">Impact <br />Review</h1>
              <ul>
                <li>
                  <a href="impact_review/products_changed_for_good.html"
                    >Products Changed for Good</a
                  >
                </li>
                <li>
                  <a href="impact_review/lives_changed_for_good.html"
                    >Lives Changed for Good</a
                  >
                </li>
                <li>
                  <a href="impact_review/our_planet_changed_for_good.html"
                    >Our Planet Changed for Good</a
                  >
                </li>
                <li>
                  <a href="impact_review/mas_foundation_for_change.html"
                    >MAS Foundation for Change</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="navItem" style="transition-delay: 0.9s">
          <div class="navImageContainer">
            <div class="navImage">
              <img src="assets/images/nav_image_four.webp" alt="Nav Image" />
            </div>
            <div class="navArrowContainer">
              <img src="assets/images/grey_right_arrow.svg" alt="" />
            </div>
          </div>
          <div class="navImageMobile navImageMobileFour">
            <h1>Annexures</h1>
          </div>
          <div class="navTextMobileWrapper">
            <div class="navTextContainer">
              <h1 class="navSectionText">Annexures</h1>
              <ul>
                <li>
                  <a href="annexures/stakeholder_engagement.html"
                    >Stakeholder Engagement</a
                  >
                </li>
                <li>
                  <a href="annexures/workforce_profile.html"
                    >Workforce Profile</a
                  >
                </li>
                <li>
                  <a
                    href="annexures/gri_content_index_and_statement_of_use.html"
                    >GRI Content Index (and statement of use)</a
                  >
                </li>
                <li>
                  <a href="annexures/external_assurance_statement.html"
                    >External Assurance Statement</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mainNavBG"></div>
    <nav class="mainNav">
      <div class="navLogo">
        <a href="index.html"
          ><img src="assets/images/mas_logo.svg" alt="MAS Holdings Logo" />
        </a>
        <div class="navLine"></div>
        <div class="navLogoText">
          <p>MAS Holdings</p>
          <p>Impact Report 2023</p>
        </div>
      </div>

      <div class="searhAndNavButton">
        <div class="searchWrapper">
          <i class="fa-solid fa-x" id="closeIconSearch"></i>
          <form action="services/search.html" method="get">
            <input type="search" name="s" required placeholder="Search..." />
            <button type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </div>

        <div class="page-actions">
          <div class="NavSearchIcon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <a
            href="#"
            tooltip="Accessibility Panel"
            class="d-none d-md-inline-block toggle_accessibility_panel"
          >
            <img src="assets/images/icons/accessibility_icon.svg" alt="" />
          </a>

          <a
            href="services/pdf/masir23.pdf"
            tooltip="Download Full PDF"
            target="_blank"
            class="d-none d-md-inline-block"
          >
            <img src="assets/images/icons/download_pdf.svg" alt="" />
          </a>
        </div>

        <div class="navButton" id="navButton">
          <span class="lineOne"></span>
          <span class="lineTwo"></span>
          <span class="lineThree"></span>
        </div>
      </div>
    </nav>

    <script src="../assets/js/libs/jquery-3.7.1.min.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
